$color-white: #ffffff;
$color-black: #000000;

$color-bg-header: rgba(16, 16, 29, 0.9);
$color-bg-input: rgba(255, 255, 255, 0.851);
$color-bg-input-focus: #3d4050;
$color-bg-range: rgba(255, 255, 255, 0.702);
$color-bg-file: rgba(255, 255, 255, 0.949);

$color-dark-main: #272733;
$color-active: #3e9cdc;

$color-text-active-menu: #43abf0;
$color-text-grey: #efeff0;
$color-text-black: #2a2b30;
$color-subtitle-light: #bbbbbb;
$color-select-active: #42a9ed;

$color-border-btn: #6f6d7b;
$color-border-step: #286690;
$color-border-footer: #c3c3c3;

$header-height: 100px;
$footer-height: 86px;

$width-desktop: 1440px;
$width-laptop: 1200px;
$width-tablet: 1024px;
$width-md: 768px;
$width-sm: 480px;

$padding-desktop: 0 20px;

@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Black';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@mixin d-flex($justify-content: normal, $align-items: normal, $direction: row){
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
}

@mixin font($font-size: 1rem, $line-height: 1, $color: $color-black) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Lato Regular", sans-serif;
  @media only screen and (max-width: $width-laptop) {
    font-size: 14px;
  }
  @media only screen and (max-width: $width-tablet) {
    font-size: 12px;
  }
}

.with-divider {
  border-right: thin solid #ccc;
}

.container__inner {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  background: $color-bg-header;
  z-index: 10;
  &__container {
    height: 100%;
    @include d-flex(space-between, center)
  }
}

.logo {
  text-decoration: none;
  &__text {
    font-family: "Lato Black", sans-serif;
    @include font(1.75rem, 18px, $color-white);
  }
}

.title {
  text-transform: uppercase;
  color: $color-white;
  &--color {
    color: $color-active;
  }
}

.menu {
  @include d-flex(space-around, center);
  &__item {
    list-style: none;
    margin-left: 55px;
    &:hover > .menu__link {
      color: $color-text-active-menu;
    }
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    @include font(.8125rem, $line-height: 1, $color: $color-text-grey);
  }
}

.banner {
  background: url("../img/header.png") no-repeat;
  background-size: cover;
  &__container {
    padding: calc(#{$header-height} + 150px) 0 200px;
  }
  &__title {
    @include font(3rem, 64px, $color-dark-main);
  }
  &__subtitle {
    font-weight: bold;
  }
  &__text-wrapper {
    padding: 75px 0;
    @include font(1.25rem, 34px, $color-text-black);
  }
}

.list__item {
  list-style: none;
}

.btn {
  width: 183px;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  padding: 18px 10px 13px;
  text-transform: uppercase;
  @include font(0.8125rem, 18px);
  &--white {
    color: $color-text-black;
    border-color: $color-border-btn;
    background: $color-white;
  }
  &--blue {
    color: $color-white;
    border-color: $color-white;
    background: $color-active;
  }
  &__order {
    margin-right: 25px;
  }
}

.scheme {
  background-image: url("../img/scheme-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-dark-main;
  &__container {
    padding: 125px 0 150px;
  }
  &__title {
    text-align: center;
    font-size: 2.25rem;
  }
  &__subtitle {
    text-align: center;
    padding: 25px 0 75px;
    @include font(1.125rem, 22px, $color-subtitle-light);
  }
  &__form {
    padding-top: 80px;
  }
}

.steps {
  @include d-flex(space-between, flex-start);
}

.step {
  flex: 1;
  @include d-flex(space-between, center, column);
  &__wrapper {
    position: relative;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $color-active;
    border: 5px solid $color-border-step;
    @include d-flex(center, center);
    margin-bottom: 20px;
  }
  &__desc {
    text-align: center;
    @include font(1rem, 20px, $color-white);
  }
}

.step:not(:last-child) .step__wrapper::after {
  content:".....";
  position: absolute;
  width: 100%;
  font-size: 30px;
  color: $color-white;
  transform: translate(120%, -20%);
  letter-spacing: 17px;
}

.form {
  display: grid;
  grid-gap: 30px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  &__input {
    border: 1px solid $color-white;
    border-radius: 3px;
    background: $color-bg-input;
    padding: 18px 17px;
    @include font(1.125rem, 22px, $color-dark-main);
    &::placeholder {
      color: $color-dark-main;
    }
    &:focus {
      color: $color-white;
      background: $color-bg-input-focus;
      &::placeholder {
        color: $color-white;
      }
    }
  }
  &__select {
    display: flex;
    position: relative;
    &::after {
      content: '\25BC';
      position: absolute;
      font-size: 1rem;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      padding: 0 1em;
      cursor: pointer;
      pointer-events: none;
      color: $color-text-black;
      transition: .25s all ease;
    }
    &:hover::after {
      color: $color-white;
    }
    &::-ms-expand {
      display: none;
    }
  }
  &__range {
    grid-column: 1/3;
  }
  &__btn {
    width: 100%;
    grid-column: 2;
  }
}

.type {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  flex: 1;
  outline: 0;
  cursor: pointer;
  background-image: none;
  padding-right: 30px;
  overflow-y: scroll;
  &__option {
    color: $color-white;
  }
}

.range {
  &__desc {
    padding-bottom: 20px;
    @include font(1.125rem, 22px, $color-white);
    @include d-flex(space-between, center);
  }
  &__input {
    width: 100%;
    -webkit-appearance: none;
    background-color: $color-bg-range;
    height: 7px;
    border-radius: 3px;
  }
}

.file {
  text-transform: uppercase;
  text-align: center;
  background: $color-bg-file;
  cursor: pointer;
  display: inline-block;
  @include font(0.9375rem, 22px, $color-dark-main);
  &__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  &:hover {
    background-color: $color-bg-range;
  }
  & * {
    pointer-events: none;
  }
}

.footer {
  height: $footer-height;
  background: $color-bg-input-focus;
  &__container {
    height: 100%;
    @include d-flex(space-between, center);
    & > * {
      border-left: 1px solid $color-border-footer;
    }
  }
  &__section {
    width: available;
    @include d-flex(space-around, center);
  }
  &__copyright {
    flex: 3;
    border: 0;
    @include font(0.8125rem, 14px, $color-white);
  }
  &__wallets {
    flex: 4;
  }
  &__contacts {
    flex: 3;
  }
  .footer__item {
    @include d-flex();
  }
}
