$color-white: #ffffff;
$color-black: #000000;

$color-bg-header: rgba(16, 16, 29, 0.9);
$color-bg-input: rgba(255, 255, 255, 0.851);
$color-bg-input-focus: #3d4050;
$color-bg-range: rgba(255, 255, 255, 0.702);
$color-bg-file: rgba(255, 255, 255, 0.949);
$color-bg-select: rgba(39, 39, 51, 0.9);

$color-dark-main: #272733;
$color-active: #3e9cdc;

$color-text-active-menu: #43abf0;
$color-text-grey: #efeff0;
$color-text-black: #2a2b30;
$color-subtitle-light: #bbbbbb;
$color-select-active: #42a9ed;

$color-border-btn: #6f6d7b;
$color-border-step: #286690;
$color-border-footer: #c3c3c3;
$color-border-select: #3d4050;

$header-height: 100px;
$header-height-tablet: 70px;
$footer-height: 86px;

$width-tablet: 1024px;
$width-tablet-sm: 912px;
$width-md: 768px;
$width-sm: 480px;

$padding-tablet: 20px;
$padding-md-container: 80px 20px;

@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Black';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/Tahoma.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@mixin d-flex($justify-content: normal, $align-items: normal, $direction: row){
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
}

@mixin font($font-size: 1rem, $line-height: 1, $color: $color-black) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Lato Regular", sans-serif;
  @media only screen and (max-width: $width-tablet) {
    font-size: 14px;
  }
  @media only screen and (max-width: $width-tablet-sm) {
    font-size: 12px;
  }
}

.container__inner {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  background: $color-bg-header;
  z-index: 10;
  &__container {
    height: 100%;
    @include d-flex(space-between, center)
  }
  @media screen and (max-width: $width-tablet) {
    height: $header-height-tablet;
  }
}

.logo {
  text-decoration: none;
  &__text {
    font-family: "Lato Black", sans-serif;
    @include font(1.75rem, 18px, $color-white);
  }
  &--burger {
    display: none;
  }
}

.title {
  text-transform: uppercase;
  color: $color-white;
  &--color {
    color: $color-active;
  }
}

.menu {
  @include d-flex(space-around, center);
  &__item {
    list-style: none;
    margin-left: 55px;
    &:hover > .menu__link {
      color: $color-text-active-menu;
    }
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    @include font(.8125rem, $line-height: 1, $color: $color-text-grey);
    &--active {
      color: $color-text-active-menu;
    }
  }
  @media screen and (max-width: $width-tablet) {
    &__link {
      font-size: calc(1rem + 2vw);
    }
    &__item {
      margin-left: 10px;
    }
  }
  @media screen and (max-width: $width-sm) {
    &__link {
      font-size: calc(0.5rem + 2vw);
    }
  }
}

/*------burger----------*/
.burger-menu {
  &__button {
    display: none;
    width: 25px;
    height: 20px;
    cursor: pointer;
    &--active .burger-menu__lines {
      transform: rotate(90deg);
    }
  }
  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  &--active{
    & + .burger-menu__overlay {
      display: block;
    }
    &.nav{
      display: flex;
      padding: 30px 20px 30px 70px;
    }
    .nav__menu{
      padding: 20px;
      @include d-flex(space-evently, normal, column);
    }
    .burger-menu__overlay {
      display: block;
    }
  }
  &__lines {
    top: 50%;
    &::before {
      content: '';
      top: 8px;
    }
    &::after {
      content: '';
      top: -8px;
    }
  }
  &__lines::before,
  &__lines::after,
  &__lines {
    position: absolute;
    width: 25px;
    height: 2px;
    background: #fff;
    transition: 0.4s;
  }
}

@media screen and (max-width: $width-tablet) {
  .container__inner,
  .main .container__inner {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }
  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    box-sizing: border-box;
    background: #2D303A;
    padding-top: 100px;
    z-index: 15;
  }
  .logo__title--burger {
    display: block;
    font-size: 2rem;
  }
  .burger-menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .burger-menu__button {
    display: block;
    z-index: 20;
    position: relative;
  }
}

@media only screen and (max-width: $width-md) {
  .main .container__inner {
    padding: $padding-md-container;
  }
}

.banner {
  background: url("../img/header.png") no-repeat;
  background-size: cover;
  &__container {
    padding: calc(#{$header-height} + 150px) 0 200px;
  }
  &__title {
    @include font(3rem, 64px, $color-dark-main);
  }
  &__subtitle {
    font-weight: bold;
  }
  &__text-wrapper {
    padding: 75px 0;
    @include font(1.25rem, 34px, $color-text-black);
  }
  @media screen and (max-width: $width-tablet) {
    &__container {
      padding: calc(#{$header-height-tablet} + 50px) 0 100px;
    }
  }
}

.list__item {
  list-style: none;
}

.btn {
  width: 183px;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  padding: 18px 10px 13px;
  text-transform: uppercase;
  cursor: pointer;
  @include font(0.8125rem, 18px);
  &--white {
    color: $color-text-black;
    border-color: $color-border-btn;
    background: $color-white;
    &:hover {
      background: $color-bg-range;
      color: $color-black;
    }
  }
  &--blue {
    color: $color-white;
    border-color: $color-white;
    background: $color-active;
    &:hover {
      background: $color-select-active;
    }
  }
  &__order {
    margin-right: 25px;
  }
  &__send {
    font-size: 0.9375rem;
  }
  @media screen and (max-width: $width-sm) {
    width: 100%;
    font-size: 1.2rem;
    &__order {
      margin: 5px 0;
    }
  }
}

.scheme {
  background-image: url("../img/scheme-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-dark-main;
  &__container {
    padding: 125px 0 150px;
  }
  &__title {
    text-align: center;
    font-size: 2.25rem;
  }
  &__subtitle {
    text-align: center;
    padding: 25px 0 75px;
    @include font(1.125rem, 22px, $color-subtitle-light);
  }
  &__form {
    padding-top: 80px;
  }
  @media only screen and (max-width: $width-sm) {
    &__subtitle {
      padding: $padding-tablet;
    }
  }
}

.steps {
  @include d-flex(space-between, flex-start);
  @media only screen and (max-width: $width-sm) {
    @include d-flex(space-between, center, column);
  }
}

.step {
  flex: 1;
  @include d-flex(space-between, center, column);
  &__wrapper {
    position: relative;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $color-active;
    border: 5px solid $color-border-step;
    margin-bottom: 20px;
    @include d-flex(center, center);
  }
  &__desc {
    text-align: center;
    @include font(1rem, 20px, $color-white);
  }
  &__icon.fa {
    @include font(2.25rem, 22px, $color-white);
  }
  &__icon--little.fa {
    position: relative;
    top: -20%;
    margin-right: 2px;
    @include font(1rem, 1, $color-white);
  }
  @media only screen and (max-width: $width-md) and (min-width: $width-sm) {
    &__wrapper {
      height: 50px;
      width: 50px;
    }
    &__icon.fa {
      font-size: 1.5rem;
    }
    &__icon--little.fa {
      font-size: 0.7rem;
    }
  }
  &:not(:last-child) .step__wrapper::after {
    content:".....";
    position: absolute;
    width: 100%;
    transform: translate(120%, -20%);
    letter-spacing: 17px;
    @include font(30px, 1, $color-white);
    @media only screen and (max-width: $width-tablet-sm) {
      font-size: 20px;
      letter-spacing: 15px;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      transform: translate(55%, -60%);
    }
  }
  @media only screen and (max-width: $width-sm) {
    padding: $padding-tablet;
    &__wrapper {
      margin-bottom: 10px;
    }
    &:not(:first-child) .step__wrapper::before {
      content:".....";
      position: absolute;
      width: 100%;
      transform: translate(-120%, -20%);
      @include font(20px, 1, $color-white);
      letter-spacing: 15px;
    }
  }
}

.form {
  display: grid;
  grid-gap: 30px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  &__input {
    border: 1px solid $color-white;
    border-radius: 3px;
    background: $color-bg-input;
    padding: 18px 17px;
    @include font(1.125rem, 22px, $color-dark-main);
    &::placeholder {
      color: $color-dark-main;
    }
    &:focus {
      color: $color-white;
      background: $color-bg-input-focus;
      &::placeholder {
        color: $color-white;
      }
    }
  }
  &__select {
    display: flex;
    position: relative;
    .fa {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      padding: 0 1em;
      cursor: pointer;
      pointer-events: none;
      transition: .25s all ease;
      @include font(1.25rem, 1, $color-text-black)
    }
    &:hover .fa {
      color: $color-white;
    }
    &::-ms-expand {
      display: none;
    }
  }
  &__range {
    grid-column: 1/3;
  }
  &__btn {
    width: 100%;
    grid-column: 2;
  }
  @media only screen and (max-width: $width-md) {
    grid-template-columns: 1fr;
    &__range,
    &__btn {
      grid-column: 1;
    }
  }
}

.range {
  &__desc {
    padding-bottom: 20px;
    @include font(1.125rem, 22px, $color-white);
    @include d-flex(space-between, center);
  }
  &__input {
    width: 100%;
    -webkit-appearance: none;
    background-color: $color-bg-range;
    height: 7px;
    border-radius: 3px;
    outline: none;
  }
}

.file {
  text-transform: uppercase;
  text-align: center;
  background: $color-bg-file;
  cursor: pointer;
  @include d-flex(center, center);
  @include font(0.9375rem, 22px, $color-dark-main);
  &:hover {
    background-color: $color-bg-range;
  }
  & * {
    pointer-events: none;
  }
  &__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  &__icon.fa {
    margin-right: 15px;
    @include font(1.25rem, 1, $color-dark-main);
  }
}

.footer {
  height: $footer-height;
  background: $color-bg-input-focus;
  @include font(0.8125rem, 19px, $color-white);
  &__container {
    height: 100%;
    @include d-flex(space-between, center);
    & > * {
      border-left: 1px solid $color-border-footer;
    }
  }
  &__section {
    width: available;
    @include d-flex(space-around, center);
  }
  &__copyright {
    flex: 3;
    border: 0;
  }
  &__wallets {
    flex: 4;
  }
  &__contacts {
    flex: 3;
  }
  &__item {
    @include d-flex(normal, center);
  }
  @media only screen and (max-width: $width-md) {
    &__container {
      flex-direction: column-reverse;
      padding: 10px 20px;
      & > * {
        border-left: 0;
      }
    }
    &__section {
      width: 100%;
    }
    &__wallets {
      justify-content: space-between;
    }
    &__copyright {
      color: $color-subtitle-light;
    }
  }
}

.share {
  text-decoration: none;
  &__title {
    color: $color-white;
  }
  &__icon {
    margin-right: 10px;
    &--vk {
      font-family: "Tahoma", sans-serif;
      @include font(1.125rem, 1, $color-active);
    }
    &--email {
      @include font(0.9375rem, 1, $color-active)
    }
  }
  &:hover > .share__title {
    color: $color-subtitle-light;
  }
}

.custom-select {
  width: 100%;
  position: relative;
  .select {
    display: none;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    width: auto;
    .select {
      display: flex;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .burger-menu__button {
    display: none;
  }
  .logo--burger {
    display: block;
  }
  .nav {
    position: static;
    width: 100%;
    height: auto;
    padding-top: 0;
    background: transparent;
    @include d-flex(space-between);
    .menu__link {
      font-size: calc(0.8rem + 0.5vw);
      margin-left: 10px;
    }
  }
  .burger-menu__container {
    display: none;
  }
  .form {
    flex-wrap: wrap;
    @include d-flex(space-between, center, row);
    &__btn {
      margin: 0 auto;
    }
    &__range {
      width: 60%;
      margin-bottom: 30px;
    }
  }
  .ie-form__item {
    width: 33%;
    margin-bottom: 30px;
  }
}

@media all and (max-width: $width-tablet) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ie-form__item,
  .form__range,
  .custom-select,
  .custom-select .select {
    width: 100%;
  }
}

@media all and (max-width: $width-md) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .nav {
    flex-direction: column;
  }
  .logo--burger {
    margin-bottom: 10px;
  }
  .step:not(:last-child) .step__wrapper::after,
  .step:not(:first-child) .step__wrapper::before {
    opacity: 0;
  }
  .step {
    flex: none;
  }
}

.select {
  &--selected {
    width: 100%;
    line-height: 40px;
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
    &:hover,
    &.select__item--active {
      color: $color-white;
      background: $color-bg-input-focus;
    }
  }
  &--hide {
    display: none;
  }
  &--checked {
    color: $color-select-active;
  }
  &__items {
    position: absolute;
    max-height: 180px;
    overflow: auto;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 9;
    border: 1px solid $color-border-select;
    border-radius: 3px;
    background-color: $color-bg-select;
    & div {
      padding: 8px 16px;
      cursor: pointer;
      user-select: none;
      color: $color-white;
      &:hover {
        color: $color-select-active;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 7px;
  &-thumb {
    background: $color-active;
    border-radius: 3px;
    &:hover {
      background: $color-select-active;
    }
  }
  &-track {
    border-radius: 3px;
  }
}